{% extends "base.html" %}

{% block conteudo %}
<h1 class="mb-4">Editar Ativo</h1>

<form method="POST">
    <div class="mb-3">
        <label class="form-label">Ticker:</label>
        <input type="text" name="ticker" value="{{ ativo.ticker }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input type="text" name="nome" value="{{ ativo.nome }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo:</label>
        <select name="tipo" class="form-select">
            <option value="Acao" {% if ativo.tipo == "Acao" %}selected{% endif %}>Ação</option>
            <option value="FII" {% if ativo.tipo == "FII" %}selected{% endif %}>FII</option>
            <option value="Renda Fixa" {% if ativo.tipo == "Renda Fixa" %}selected{% endif %}>Renda Fixa</option>
            <option value="ETF" {% if ativo.tipo == "ETF" %}selected{% endif %}>ETF</option>
            <option value="Tesouro Direto" {% if ativo.tipo == "Tesouro Direto" %}selected{% endif %}>Tesouro Direto</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar alterações</button>
</form>
{% endblock %}