{% extends "base.html" %}

{% block conteudo %}
<h1 class="mb-4">Registrar Transação</h1>

<form method="POST">
    <div class="mb-3">
        <label class="form-label">Ativo:</label>
        <select name="ativo_id" class="form-select">
            {% for ativo in ativos %}
            <option value="{{ ativo.id }}">{{ ativo.ticker }} - {{ ativo.nome }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Data:</label>
        <input type="date" name="data" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo:</label>
        <select name="tipo" class="form-select">
            <option value="compra">Compra</option>
            <option value="venda">Venda</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Quantidade:</label>
        <input type="number" name="quantidade" step="any" min="0" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Preço unitário (R$):</label>
        <input type="number" name="preco_unitario" step="any" min="0" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}