{% extends "base.html" %}

{% block conteudo %}
<h1 class="mb-4">Cadastrar Novo Ativo</h1>

<form method="POST">
    <div class="mb-3">
        <label class="form-label">Ticker:</label>
        <input type="text" name="ticker" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo:</label>
        <select name="tipo" class="form-select">
            <option value="Acao">Ação</option>
            <option value="FII">FII</option>
            <option value="Renda Fixa">Renda Fixa</option>
            <option value="ETF">ETF</option>
            <option value="Fundos">Fundos</option>
            <option value="Tesouro Direto">Tesouro Direto</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}